In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bike-sharing-demand/test.csv
/kaggle/input/bike-sharing-demand/train.csv
/kaggle/input/bike-sharing-demand/sampleSubmission.csv

In [5]:
train = pd.read_csv('/kaggle/input/bike-sharing-demand/train.csv')
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [32]:
test = pd.read_csv('/kaggle/input/bike-sharing-demand/test.csv',)
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [33]:
train.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

In [34]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [116]:
train['datetime'] = train['datetime'].astype('datetime64')
test['datetime'] = test['datetime'].astype('datetime64')

In [117]:
train['year'] = train['datetime'].dt.year
test['year'] = test['datetime'].dt.year

train['month'] = train['datetime'].dt.month
test['month'] = test['datetime'].dt.month

train['day'] = train['datetime'].dt.day
test['day'] = test['datetime'].dt.day

In [119]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,minute,second
0,2011-01-01 00:00:00,1.0,0.0,0.0,1.0,9.84,14.395,81.0,0.0,3.0,13.0,16.0,2011,1,1,0.0,0.0,0.0
1,2011-01-01 01:00:00,1.0,0.0,0.0,1.0,9.02,13.635,80.0,0.0,8.0,32.0,40.0,2011,1,1,1.0,0.0,0.0
2,2011-01-01 02:00:00,1.0,0.0,0.0,1.0,9.02,13.635,80.0,0.0,5.0,27.0,32.0,2011,1,1,2.0,0.0,0.0
3,2011-01-01 03:00:00,1.0,0.0,0.0,1.0,9.84,14.395,75.0,0.0,3.0,10.0,13.0,2011,1,1,3.0,0.0,0.0
4,2011-01-01 04:00:00,1.0,0.0,0.0,1.0,9.84,14.395,75.0,0.0,0.0,1.0,1.0,2011,1,1,4.0,0.0,0.0

In [118]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,day
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,2011,1,20
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20

In [67]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
 12  year        10886 non-null  int64
 13  month       10886 non-null  int64
 14  day         10886 non-null  int64
 15  hour        10886 non-null  int64
 16  minute      10886 non-null  int64
 17  second      10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(14)
memory usage: 1.5 MB

In [120]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    6493 non-null   datetime64[ns]
 1   season      6493 non-null   int64
 2   holiday     6493 non-null   int64
 3   workingday  6493 non-null   int64
 4   weather     6493 non-null   int64
 5   temp        6493 non-null   float64
 6   atemp       6493 non-null   float64
 7   humidity    6493 non-null   int64
 8   windspeed   6493 non-null   float64
 9   year        6493 non-null   int64
 10  month       6493 non-null   int64
 11  day         6493 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 608.8 KB

In [103]:
train.drop(['datetime', 'hour', 'minute', 'second'], axis = 1)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day
0,1.0,0.0,0.0,1.0,9.84,14.395,81.0,0.0000,3.0,13.0,16.0,2011.0,1.0,1.0
1,1.0,0.0,0.0,1.0,9.02,13.635,80.0,0.0000,8.0,32.0,40.0,2011.0,1.0,1.0
2,1.0,0.0,0.0,1.0,9.02,13.635,80.0,0.0000,5.0,27.0,32.0,2011.0,1.0,1.0
3,1.0,0.0,0.0,1.0,9.84,14.395,75.0,0.0000,3.0,10.0,13.0,2011.0,1.0,1.0
4,1.0,0.0,0.0,1.0,9.84,14.395,75.0,0.0000,0.0,1.0,1.0,2011.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,4.0,0.0,1.0,1.0,15.58,19.695,50.0,26.0027,7.0,329.0,336.0,2012.0,12.0,19.0
10882,4.0,0.0,1.0,1.0,14.76,17.425,57.0,15.0013,10.0,231.0,241.0,2012.0,12.0,19.0
10883,4.0,0.0,1.0,1.0,13.94,15.910,61.0,15.0013,4.0,164.0,168.0,2012.0,12.0,19.0
10884,4.0,0.0,1.0,1.0,13.94,17.425,61.0,6.0032,12.0,117.0,129.0,2012.0,12.0,19.0
10885,4.0,0.0,1.0,1.0,13.12,16.665,66.0,8.9981,4.0,84.0,88.0,2012.0,12.0,19.0

In [105]:
train1 = train.drop(['datetime', 'hour', 'minute', 'second'], axis = 1)

In [106]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      10886 non-null  float64
 1   holiday     10886 non-null  float64
 2   workingday  10886 non-null  float64
 3   weather     10886 non-null  float64
 4   temp        10886 non-null  float64
 5   atemp       10886 non-null  float64
 6   humidity    10886 non-null  float64
 7   windspeed   10886 non-null  float64
 8   casual      10886 non-null  float64
 9   registered  10886 non-null  float64
 10  count       10886 non-null  float64
 11  year        10886 non-null  float64
 12  month       10886 non-null  float64
 13  day         10886 non-null  float64
dtypes: float64(14)
memory usage: 1.2 MB

In [122]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    6493 non-null   datetime64[ns]
 1   season      6493 non-null   int64
 2   holiday     6493 non-null   int64
 3   workingday  6493 non-null   int64
 4   weather     6493 non-null   int64
 5   temp        6493 non-null   float64
 6   atemp       6493 non-null   float64
 7   humidity    6493 non-null   int64
 8   windspeed   6493 non-null   float64
 9   year        6493 non-null   int64
 10  month       6493 non-null   int64
 11  day         6493 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 608.8 KB

In [112]:
dfArray = train1.values
X = dfArray[:,0:13].astype(float)
Y = dfArray[:,13].astype(float)

In [113]:
model = Sequential()

model.add(Dense(20, input_dim=13, activation='relu')) 
model.add(Dense(1))

In [114]:
model.compile(loss='mean_squared_error', optimizer='adam')

In [115]:
model.fit(X, Y, epochs=100, batch_size=10)

Epoch 1/100
1089/1089 [==============================] - 1s 1ms/step - loss: 13433.0166
Epoch 2/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.0856
Epoch 3/100
1089/1089 [==============================] - 1s 1ms/step - loss: 32.0443
Epoch 4/100
1089/1089 [==============================] - 1s 1ms/step - loss: 32.0047
Epoch 5/100
1089/1089 [==============================] - 1s 1ms/step - loss: 32.2068
Epoch 6/100
1089/1089 [==============================] - 1s 1ms/step - loss: 32.9884
Epoch 7/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.5132
Epoch 8/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.2883
Epoch 9/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.9573
Epoch 10/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.9161
Epoch 11/100
1089/1089 [==============================] - 1s 1ms/step - loss: 37.3677
Epoch 12/100
1089/1089 [==============================] - 1s 1ms/step - loss: 37.1808
Epoch 13/100
1089/1089 [==============================] - 1s 1ms/step - loss: 37.2824
Epoch 14/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.1909
Epoch 15/100
1089/1089 [==============================] - 1s 1ms/step - loss: 37.4560
Epoch 16/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.3794
Epoch 17/100
1089/1089 [==============================] - 1s 1ms/step - loss: 37.8373
Epoch 18/100
1089/1089 [==============================] - 1s 1ms/step - loss: 37.1695
Epoch 19/100
1089/1089 [==============================] - 2s 1ms/step - loss: 35.7877
Epoch 20/100
1089/1089 [==============================] - 1s 1ms/step - loss: 37.8167
Epoch 21/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.9871
Epoch 22/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.9015
Epoch 23/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.5334
Epoch 24/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.5676
Epoch 25/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.0902
Epoch 26/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.9814
Epoch 27/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.8288
Epoch 28/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.6543
Epoch 29/100
1089/1089 [==============================] - 1s 1ms/step - loss: 37.7892
Epoch 30/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.6202
Epoch 31/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.8606
Epoch 32/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.5819
Epoch 33/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.8693
Epoch 34/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.1974
Epoch 35/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.7463
Epoch 36/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.3767
Epoch 37/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.1418
Epoch 38/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.9091
Epoch 39/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.6910
Epoch 40/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.1550
Epoch 41/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.7511
Epoch 42/100
1089/1089 [==============================] - 1s 1ms/step - loss: 37.1202
Epoch 43/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.9517
Epoch 44/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.6296
Epoch 45/100
1089/1089 [==============================] - 1s 1ms/step - loss: 37.0032
Epoch 46/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.7422
Epoch 47/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.6495
Epoch 48/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.5420
Epoch 49/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.5064
Epoch 50/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.1781
Epoch 51/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.4223
Epoch 52/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.2069
Epoch 53/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.7326
Epoch 54/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.1870
Epoch 55/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.3497
Epoch 56/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.0920
Epoch 57/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.4914
Epoch 58/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.3007
Epoch 59/100
1089/1089 [==============================] - 1s 1ms/step - loss: 36.2079
Epoch 60/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.2573
Epoch 61/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.8426
Epoch 62/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.0068
Epoch 63/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.2306
Epoch 64/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.9544
Epoch 65/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.4180
Epoch 66/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.0420
Epoch 67/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.5245
Epoch 68/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.7781
Epoch 69/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.8178
Epoch 70/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.9728
Epoch 71/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.3586
Epoch 72/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.4660
Epoch 73/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.7872
Epoch 74/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.8818
Epoch 75/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.9189
Epoch 76/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.7054
Epoch 77/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.3616
Epoch 78/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.2585
Epoch 79/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.1054
Epoch 80/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.9177
Epoch 81/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.4615
Epoch 82/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.3925
Epoch 83/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.1322
Epoch 84/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.5643
Epoch 85/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.0925
Epoch 86/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.2664
Epoch 87/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.4894
Epoch 88/100
1089/1089 [==============================] - 1s 1ms/step - loss: 35.1469
Epoch 89/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.8790
Epoch 90/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.3428
Epoch 91/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.6433
Epoch 92/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.2303
Epoch 93/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.4844
Epoch 94/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.6634
Epoch 95/100
1089/1089 [==============================] - 2s 1ms/step - loss: 34.1708
Epoch 96/100

1089/1089 [==============================] - 1s 1ms/step - loss: 34.0652
Epoch 97/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.5009
Epoch 98/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.0033
Epoch 99/100
1089/1089 [==============================] - 1s 1ms/step - loss: 34.5519
Epoch 100/100
1089/1089 [==============================] - 2s 1ms/step - loss: 34.9278

In [133]:
train1.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day
0,1.0,0.0,0.0,1.0,9.84,14.395,81.0,0.0,3.0,13.0,16.0,2011.0,1.0,1.0
1,1.0,0.0,0.0,1.0,9.02,13.635,80.0,0.0,8.0,32.0,40.0,2011.0,1.0,1.0
2,1.0,0.0,0.0,1.0,9.02,13.635,80.0,0.0,5.0,27.0,32.0,2011.0,1.0,1.0
3,1.0,0.0,0.0,1.0,9.84,14.395,75.0,0.0,3.0,10.0,13.0,2011.0,1.0,1.0
4,1.0,0.0,0.0,1.0,9.84,14.395,75.0,0.0,0.0,1.0,1.0,2011.0,1.0,1.0

In [135]:
submission

NameError: name 'submission' is not defined

train
 x : count만 빼고 나머지가 들어가도록 설정
    - 전체 dataframe에서 'count'만 drop을 시키면됨
    - df2 = df.drop('count')
    - x = df2.values
 Y : count만 들어가도록 설정(마지막것만)
   : 또는 count만 따로 빼서 df만들어서 values
   
   
test
 x : train의 x와 동일한 형태로 만들어주기
 
 
predict
 test_x를 넣어준다 -> test데이터에 대해서 자전거 몇대 빌렸는지 예측치가 나와요
 그 예측치를 submission에 더해서 제출한다
 
 
 submi

In [138]:
submission = pd.read_csv('../input/bike-sharing-demand/sampleSubmission.csv')
submission.head()

submission['count'] = 2 #'내가 예측한값'
submission.head()

submission.to_csv('result.csv')

              datetime  count
0  2011-01-20 00:00:00      2
1  2011-01-20 01:00:00      2
2  2011-01-20 02:00:00      2
3  2011-01-20 03:00:00      2
4  2011-01-20 04:00:00      2

In [130]:
Y_prediction = model.predict(X).flatten()
for i in range(10):
    label = Y[i]
    prediction = Y_prediction[i]
    print("datetime: {:.3f}, count:{:.3f}". format(label, prediction))

datetime: 1.000, count:9.769
datetime: 1.000, count:9.656
datetime: 1.000, count:9.682
datetime: 1.000, count:9.768
datetime: 1.000, count:9.815
datetime: 1.000, count:9.914
datetime: 1.000, count:9.823
datetime: 1.000, count:9.818
datetime: 1.000, count:9.784
datetime: 1.000, count:9.833