In [ ]:
pwd

In [30]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# 읽어드릴 파일 경로 : /bike_sharing_demand_train.csv
filepath = "./bike_sharing_demand_train.csv"
df = pd.read_csv(filepath)
df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [31]:
df['season'] = df['season'].replace([1,2,3,4],['봄','여름','가을','겨울'])
df['weather'] = df['weather'].replace([1,2,3,4],['맑음','흐림','비','눈'])

In [32]:
df['holiday'] = df['holiday'].replace([0,1],['예','아니오'])
df['workingday'] = df['workingday'].replace([0,1],['예','아니오'])

In [33]:
df.columns = ['날짜','계절','휴일유무','출근길유무','날씨','온도','체감온도','습도','풍속','비회원대여','회원대여','합계대여']

In [34]:
df.describe()

,온도,체감온도,습도,풍속,비회원대여,회원대여,합계대여
count,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

In [35]:
format = lambda x : '%.2f 도' % x 
df['체감온도'] = df['체감온도'].map(format)

In [36]:
format = lambda x :'%.2f 도' % x 
df['온도'] = df['온도'].map(format)
df

,날짜,계절,휴일유무,출근길유무,날씨,온도,체감온도,습도,풍속,비회원대여,회원대여,합계대여
0,2011-01-01 00:00:00,봄,예,예,맑음,9.84 도,14.39 도,81,0.0000,3,13,16
1,2011-01-01 01:00:00,봄,예,예,맑음,9.02 도,13.63 도,80,0.0000,8,32,40
2,2011-01-01 02:00:00,봄,예,예,맑음,9.02 도,13.63 도,80,0.0000,5,27,32
3,2011-01-01 03:00:00,봄,예,예,맑음,9.84 도,14.39 도,75,0.0000,3,10,13
4,2011-01-01 04:00:00,봄,예,예,맑음,9.84 도,14.39 도,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,겨울,예,아니오,맑음,15.58 도,19.70 도,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,겨울,예,아니오,맑음,14.76 도,17.43 도,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,겨울,예,아니오,맑음,13.94 도,15.91 도,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,겨울,예,아니오,맑음,13.94 도,17.43 도,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,겨울,예,아니오,맑음,13.12 도,16.66 도,66,8.9981,4,84,88

In [37]:
bin = [0,50,150,250,300,350]

In [38]:
cats = pd.cut(df['합계대여'],bin)
cats

0           (0, 50]
1           (0, 50]
2           (0, 50]
3           (0, 50]
4           (0, 50]
            ...
10881    (300, 350]
10882    (150, 250]
10883    (150, 250]
10884     (50, 150]
10885     (50, 150]
Name: 합계대여, Length: 10886, dtype: category
Categories (5, interval[int64]): [(0, 50] < (50, 150] < (150, 250] < (250, 300] < (300, 350]]

In [39]:
cats

0           (0, 50]
1           (0, 50]
2           (0, 50]
3           (0, 50]
4           (0, 50]
            ...
10881    (300, 350]
10882    (150, 250]
10883    (150, 250]
10884     (50, 150]
10885     (50, 150]
Name: 합계대여, Length: 10886, dtype: category
Categories (5, interval[int64]): [(0, 50] < (50, 150] < (150, 250] < (250, 300] < (300, 350]]

In [40]:
group_name = ['매우적음','적음','보통','많음','매우많음']

In [41]:
cate = pd.cut(df['합계대여'],bin, labels=group_name)

In [42]:
df['카테고리'] = cate
df

,날짜,계절,휴일유무,출근길유무,날씨,온도,체감온도,습도,풍속,비회원대여,회원대여,합계대여,카테고리
0,2011-01-01 00:00:00,봄,예,예,맑음,9.84 도,14.39 도,81,0.0000,3,13,16,매우적음
1,2011-01-01 01:00:00,봄,예,예,맑음,9.02 도,13.63 도,80,0.0000,8,32,40,매우적음
2,2011-01-01 02:00:00,봄,예,예,맑음,9.02 도,13.63 도,80,0.0000,5,27,32,매우적음
3,2011-01-01 03:00:00,봄,예,예,맑음,9.84 도,14.39 도,75,0.0000,3,10,13,매우적음
4,2011-01-01 04:00:00,봄,예,예,맑음,9.84 도,14.39 도,75,0.0000,0,1,1,매우적음
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,겨울,예,아니오,맑음,15.58 도,19.70 도,50,26.0027,7,329,336,매우많음
10882,2012-12-19 20:00:00,겨울,예,아니오,맑음,14.76 도,17.43 도,57,15.0013,10,231,241,보통
10883,2012-12-19 21:00:00,겨울,예,아니오,맑음,13.94 도,15.91 도,61,15.0013,4,164,168,보통
10884,2012-12-19 22:00:00,겨울,예,아니오,맑음,13.94 도,17.43 도,61,6.0032,12,117,129,적음
10885,2012-12-19 23:00:00,겨울,예,아니오,맑음,13.12 도,16.66 도,66,8.9981,4,84,88,적음

In [43]:
df['날짜'] = df['날짜'].astype("datetime64")

In [48]:
df['연도'] = df['날짜'].dt.year
df['월'] = df['날짜'].dt.month
df['일'] = df['날짜'].dt.day
df['시간'] = df['날짜'].dt.hour

In [49]:
df

,날짜,계절,휴일유무,출근길유무,날씨,온도,체감온도,습도,풍속,비회원대여,회원대여,합계대여,카테고리,연도,월,일,시간
0,2011-01-01 00:00:00,봄,예,예,맑음,9.84 도,14.39 도,81,0.0000,3,13,16,매우적음,2011,1,1,0
1,2011-01-01 01:00:00,봄,예,예,맑음,9.02 도,13.63 도,80,0.0000,8,32,40,매우적음,2011,1,1,1
2,2011-01-01 02:00:00,봄,예,예,맑음,9.02 도,13.63 도,80,0.0000,5,27,32,매우적음,2011,1,1,2
3,2011-01-01 03:00:00,봄,예,예,맑음,9.84 도,14.39 도,75,0.0000,3,10,13,매우적음,2011,1,1,3
4,2011-01-01 04:00:00,봄,예,예,맑음,9.84 도,14.39 도,75,0.0000,0,1,1,매우적음,2011,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,겨울,예,아니오,맑음,15.58 도,19.70 도,50,26.0027,7,329,336,매우많음,2012,12,19,19
10882,2012-12-19 20:00:00,겨울,예,아니오,맑음,14.76 도,17.43 도,57,15.0013,10,231,241,보통,2012,12,19,20
10883,2012-12-19 21:00:00,겨울,예,아니오,맑음,13.94 도,15.91 도,61,15.0013,4,164,168,보통,2012,12,19,21
10884,2012-12-19 22:00:00,겨울,예,아니오,맑음,13.94 도,17.43 도,61,6.0032,12,117,129,적음,2012,12,19,22
10885,2012-12-19 23:00:00,겨울,예,아니오,맑음,13.12 도,16.66 도,66,8.9981,4,84,88,적음,2012,12,19,23

In [50]:
df.to_csv('10조_신민철.csv',index=False ,encoding='utf-8-sig')