## 연습문제

- 자유롭게 데이터전처리하기

    [예시]
    - 컬럼명 변경하기
    - 날짜 데이터 파싱하기
    - 이상치 처리하기
    - 계절, 날씨를 text로 변경하기(예: 봄, 여름, 가을, 겨울)
    - 자전거 대여횟수를 카테고리화 하기(예: 매우 적음, 적음, 보통, 많음, 매우 많음)
    - atemp 값을 소수점 2자리까지 보여지도록 바꾸기
    
    
- 데이터전처리 과정을 마친 데이터프레임을 csv 형태로 저장

- 코드제출

    https://drive.google.com/drive/folders/149Ryp8xzvMnklI4bY7kF074tSsr5-H0c?usp=sharing

In [23]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# 읽어드릴 파일 경로 : /dataset/bike_sharing_demand_train.csv
filepath = "./datasets/exercise/bike_sharing_demand_train.csv"
data = pd.read_csv(filepath)
data

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [24]:
grouped=data['count'].groupby(data['season'])
grouped

In [25]:
grouped.mean()

season
1    116.343261
2    215.251372
3    234.417124
4    198.988296
Name: count, dtype: float64

In [26]:
data.groupby(['season', 'weather']).mean()
# 왜 weather 4는 없는지????

                 holiday  workingday       temp      atemp   humidity  \
season weather
1      1        0.023877    0.689596  12.539147  15.135455  50.115406
       2        0.032168    0.662937  12.626853  15.548713  65.511888
       3        0.028436    0.663507  12.152322  14.943199  76.473934
       4        0.000000    1.000000   8.200000  11.365000  86.000000
2      1        0.022765    0.690727  23.180822  27.033373  54.928928
       2        0.009887    0.661017  22.490932  26.345071  69.501412
       3        0.000000    0.808036  21.001518  24.496004  81.147321
3      1        0.026943    0.676684  29.227264  33.044816  60.589119
       2        0.066225    0.668874  28.048344  31.772434  69.498344
       3        0.020101    0.678392  26.788040  29.984497  82.090452
4      1        0.040541    0.632197  16.235711  19.670323  61.039953
       2        0.027261    0.732342  16.970037  20.355675  71.630731
       3        0.022222    0.795556  18.626756  21.946089  85.435556

                windspeed     casual  registered       count
season weather
1      1        15.735428  17.649801  109.131893  126.781694
       2        12.615753  13.718881   93.142657  106.861538
       3        12.369851   3.526066   57.701422   61.227488
       4         6.003200   6.000000  158.000000  164.000000
2      1        13.281733  53.128262  183.601333  236.729595
       2        12.969080  41.491525  148.024011  189.515537
       3        15.781312  20.589286  103.316964  123.906250
3      1        11.241711  54.972539  188.610881  243.583420
       2        11.409224  49.783113  180.988411  230.771523
       3        14.402239  32.924623  123.658291  156.582915
4      1        11.414596  33.532902  175.978261  209.511163
       2        11.678200  22.294919  172.489467  194.784387
       3        13.671573  13.666667  120.800000  134.466667

In [27]:
season_kr= {
    '1':'봄',
    '2':'여름',
    '3':'가을',
    '4':'겨울',
}

In [28]:
data.replace([1,2,3,4], ["봄", "여름", "가을", "겨울"])
# 이렇게 하면 다른값도 다 바뀜

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,봄,0,0,봄,9.84,14.395,81,0.0000,가을,13,16
1,2011-01-01 01:00:00,봄,0,0,봄,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,봄,0,0,봄,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,봄,0,0,봄,9.84,14.395,75,0.0000,가을,10,13
4,2011-01-01 04:00:00,봄,0,0,봄,9.84,14.395,75,0.0000,0,봄,봄
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,겨울,0,봄,봄,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,겨울,0,봄,봄,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,겨울,0,봄,봄,13.94,15.910,61,15.0013,겨울,164,168
10884,2012-12-19 22:00:00,겨울,0,봄,봄,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,겨울,0,봄,봄,13.12,16.665,66,8.9981,겨울,84,88

In [29]:
data['season']

0        1
1        1
2        1
3        1
4        1
        ..
10881    4
10882    4
10883    4
10884    4
10885    4
Name: season, Length: 10886, dtype: int64

In [30]:
data['season'].replace([1,2,3,4], ["봄", "여름", "가을", "겨울"])

0         봄
1         봄
2         봄
3         봄
4         봄
         ..
10881    겨울
10882    겨울
10883    겨울
10884    겨울
10885    겨울
Name: season, Length: 10886, dtype: object

In [31]:
data['계절']=data['season'].replace([1,2,3,4], ["봄", "여름", "가을", "겨울"])

In [32]:
data

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,계절
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,봄
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,봄
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,봄
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,봄
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,봄
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,겨울
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,겨울
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,겨울
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,겨울
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,겨울

In [33]:
data.groupby(['계절', 'weather']).mean()

            season   holiday  workingday       temp      atemp   humidity  \
계절 weather
가을 1           3.0  0.026943    0.676684  29.227264  33.044816  60.589119
   2           3.0  0.066225    0.668874  28.048344  31.772434  69.498344
   3           3.0  0.020101    0.678392  26.788040  29.984497  82.090452
겨울 1           4.0  0.040541    0.632197  16.235711  19.670323  61.039953
   2           4.0  0.027261    0.732342  16.970037  20.355675  71.630731
   3           4.0  0.022222    0.795556  18.626756  21.946089  85.435556
봄  1           1.0  0.023877    0.689596  12.539147  15.135455  50.115406
   2           1.0  0.032168    0.662937  12.626853  15.548713  65.511888
   3           1.0  0.028436    0.663507  12.152322  14.943199  76.473934
   4           1.0  0.000000    1.000000   8.200000  11.365000  86.000000
여름 1           2.0  0.022765    0.690727  23.180822  27.033373  54.928928
   2           2.0  0.009887    0.661017  22.490932  26.345071  69.501412
   3           2.0  0.000000    0.808036  21.001518  24.496004  81.147321

            windspeed     casual  registered       count
계절 weather
가을 1        11.241711  54.972539  188.610881  243.583420
   2        11.409224  49.783113  180.988411  230.771523
   3        14.402239  32.924623  123.658291  156.582915
겨울 1        11.414596  33.532902  175.978261  209.511163
   2        11.678200  22.294919  172.489467  194.784387
   3        13.671573  13.666667  120.800000  134.466667
봄  1        15.735428  17.649801  109.131893  126.781694
   2        12.615753  13.718881   93.142657  106.861538
   3        12.369851   3.526066   57.701422   61.227488
   4         6.003200   6.000000  158.000000  164.000000
여름 1        13.281733  53.128262  183.601333  236.729595
   2        12.969080  41.491525  148.024011  189.515537
   3        15.781312  20.589286  103.316964  123.906250

In [35]:
data.to_csv("11조_정도담.csv", index=False, encoding='UTF-8-sig')

In [ ]:
# 한글 옵션euc-kr