In [57]:
# https://finance.yahoo.com/
import pandas_datareader.data as web

df = web.DataReader('005930.KS','yahoo','2020-06-01','2020-06-30')
df

             High    Low   Open  Close    Volume  Adj Close
Date
2020-06-01  51200  50600  50800  51200  16949183      51200
2020-06-02  51500  50800  51000  51400  14247933      51400
2020-06-03  55000  51700  51800  54500  49257814      54500
2020-06-04  57000  54600  55800  54600  40220334      54600
2020-06-05  55900  54000  54400  55500  22743629      55500
2020-06-08  56500  54700  56400  54900  25634965      54900
2020-06-09  56500  54400  55800  55500  23998831      55500
2020-06-10  55900  54900  55100  55400  16742493      55400
2020-06-11  55100  53200  54500  54300  33815123      54300
2020-06-12  52800  51500  52100  52300  26976019      52300
2020-06-15  52000  49900  51400  49900  28772921      49900
2020-06-16  52100  50600  51200  52100  21808375      52100
2020-06-17  52900  51300  52100  52200  26672595      52200
2020-06-18  52300  51600  52200  52300  15982926      52300
2020-06-19  52900  51600  52600  52900  18157985      52900
2020-06-22  52600  51800  52000  52000  13801350      52000
2020-06-23  52800  51100  52500  51400  18086152      51400
2020-06-24  53900  51600  51900  52900  24519552      52900
2020-06-25  53000  51900  52100  51900  18541624      51900
2020-06-26  53900  52200  52800  53300  21575360      53300
2020-06-29  53200  52000  52500  52400  17776925      52400
2020-06-30  53900  52800  53900  52800  21157172      52800

In [58]:
df[df['Close'] > 52000].index

DatetimeIndex(['2020-06-03', '2020-06-04', '2020-06-05', '2020-06-08',
               '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12',
               '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19',
               '2020-06-24', '2020-06-26', '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', name='Date', freq=None)

6. 종가('Close') 기준 데이터 정렬하기(가격 낮은 순)

In [59]:
df.sort_values(by='Close')

             High    Low   Open  Close    Volume  Adj Close
Date
2020-06-15  52000  49900  51400  49900  28772921      49900
2020-06-01  51200  50600  50800  51200  16949183      51200
2020-06-23  52800  51100  52500  51400  18086152      51400
2020-06-02  51500  50800  51000  51400  14247933      51400
2020-06-25  53000  51900  52100  51900  18541624      51900
2020-06-22  52600  51800  52000  52000  13801350      52000
2020-06-16  52100  50600  51200  52100  21808375      52100
2020-06-17  52900  51300  52100  52200  26672595      52200
2020-06-18  52300  51600  52200  52300  15982926      52300
2020-06-12  52800  51500  52100  52300  26976019      52300
2020-06-29  53200  52000  52500  52400  17776925      52400
2020-06-30  53900  52800  53900  52800  21157172      52800
2020-06-19  52900  51600  52600  52900  18157985      52900
2020-06-24  53900  51600  51900  52900  24519552      52900
2020-06-26  53900  52200  52800  53300  21575360      53300
2020-06-11  55100  53200  54500  54300  33815123      54300
2020-06-03  55000  51700  51800  54500  49257814      54500
2020-06-04  57000  54600  55800  54600  40220334      54600
2020-06-08  56500  54700  56400  54900  25634965      54900
2020-06-10  55900  54900  55100  55400  16742493      55400
2020-06-09  56500  54400  55800  55500  23998831      55500
2020-06-05  55900  54000  54400  55500  22743629      55500

In [60]:
# 7. 종가('Close') 기준 데이터 정렬하기(가격 높은 순)

# df.sort_values(by='Close', ascending=False)
df

             High    Low   Open  Close    Volume  Adj Close
Date
2020-06-01  51200  50600  50800  51200  16949183      51200
2020-06-02  51500  50800  51000  51400  14247933      51400
2020-06-03  55000  51700  51800  54500  49257814      54500
2020-06-04  57000  54600  55800  54600  40220334      54600
2020-06-05  55900  54000  54400  55500  22743629      55500
2020-06-08  56500  54700  56400  54900  25634965      54900
2020-06-09  56500  54400  55800  55500  23998831      55500
2020-06-10  55900  54900  55100  55400  16742493      55400
2020-06-11  55100  53200  54500  54300  33815123      54300
2020-06-12  52800  51500  52100  52300  26976019      52300
2020-06-15  52000  49900  51400  49900  28772921      49900
2020-06-16  52100  50600  51200  52100  21808375      52100
2020-06-17  52900  51300  52100  52200  26672595      52200
2020-06-18  52300  51600  52200  52300  15982926      52300
2020-06-19  52900  51600  52600  52900  18157985      52900
2020-06-22  52600  51800  52000  52000  13801350      52000
2020-06-23  52800  51100  52500  51400  18086152      51400
2020-06-24  53900  51600  51900  52900  24519552      52900
2020-06-25  53000  51900  52100  51900  18541624      51900
2020-06-26  53900  52200  52800  53300  21575360      53300
2020-06-29  53200  52000  52500  52400  17776925      52400
2020-06-30  53900  52800  53900  52800  21157172      52800

In [61]:
# 8. 데이터프레임의 개수(row의 개수)를 구하기
# len(df)-평균 구하거나 숫자 계산할때 가능, shape[0]: row개수, shape[1] column개수
df.shape[0]

22

In [63]:
# 9. 'Date' 컬럼을 추가하고, 인덱스의 날짜 값을 저장하기
df['Date']=df.index
df

             High    Low   Open  Close    Volume  Adj Close       Date
Date
2020-06-01  51200  50600  50800  51200  16949183      51200 2020-06-01
2020-06-02  51500  50800  51000  51400  14247933      51400 2020-06-02
2020-06-03  55000  51700  51800  54500  49257814      54500 2020-06-03
2020-06-04  57000  54600  55800  54600  40220334      54600 2020-06-04
2020-06-05  55900  54000  54400  55500  22743629      55500 2020-06-05
2020-06-08  56500  54700  56400  54900  25634965      54900 2020-06-08
2020-06-09  56500  54400  55800  55500  23998831      55500 2020-06-09
2020-06-10  55900  54900  55100  55400  16742493      55400 2020-06-10
2020-06-11  55100  53200  54500  54300  33815123      54300 2020-06-11
2020-06-12  52800  51500  52100  52300  26976019      52300 2020-06-12
2020-06-15  52000  49900  51400  49900  28772921      49900 2020-06-15
2020-06-16  52100  50600  51200  52100  21808375      52100 2020-06-16
2020-06-17  52900  51300  52100  52200  26672595      52200 2020-06-17
2020-06-18  52300  51600  52200  52300  15982926      52300 2020-06-18
2020-06-19  52900  51600  52600  52900  18157985      52900 2020-06-19
2020-06-22  52600  51800  52000  52000  13801350      52000 2020-06-22
2020-06-23  52800  51100  52500  51400  18086152      51400 2020-06-23
2020-06-24  53900  51600  51900  52900  24519552      52900 2020-06-24
2020-06-25  53000  51900  52100  51900  18541624      51900 2020-06-25
2020-06-26  53900  52200  52800  53300  21575360      53300 2020-06-26
2020-06-29  53200  52000  52500  52400  17776925      52400 2020-06-29
2020-06-30  53900  52800  53900  52800  21157172      52800 2020-06-30

In [65]:
# 10. 데이터 프레임의 인덱스를 1부터 오름차순으로 설정하기
# df.sort_index()

df.index = range(1,len(df)+1)
df.index = np.arange(1,len(df)+1)
stock_data.index = pd.RangeIndex(start=1, stop=len(stock_data)+1, step=1)

In [66]:
# 11. 'Year', 'Month', 'Day' 필드 추가하고 값을 저장하기
df['Year'] = [d.year for d in df['Date']]
df['Month'] = [d.month for d in df['Date']]

In [67]:
df_str=str(df.Date)
df_str

'1    2020-06-01\n2    2020-06-02\n3    2020-06-03\n4    2020-06-04\n5    2020-06-05\n6    2020-06-08\n7    2020-06-09\n8    2020-06-10\n9    2020-06-11\n10   2020-06-12\n11   2020-06-15\n12   2020-06-16\n13   2020-06-17\n14   2020-06-18\n15   2020-06-19\n16   2020-06-22\n17   2020-06-23\n18   2020-06-24\n19   2020-06-25\n20   2020-06-26\n21   2020-06-29\n22   2020-06-30\nName: Date, dtype: datetime64[ns]'

In [ ]:
df_str

In [ ]:
# 12. 가격값을 ,가 들어가도록 변경하기(예: 53900 -> 53,900)
df['Close'] = df.Close.apply(lambda x : "{:,}".format(x))

In [ ]:
# 13. 데이터 시각화하기

import seaborn as sns
sns.lineplot(x=)